@import 'tailwindcss';

header img{
    height: 250px;
    width: 400px;
    display: none;
    margin-top: 5px;
}

#selected > img{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
}