@import 'tailwindcss';

form > div > div >  input { 
    border: 2px solid var(--text);
    border-radius: var(--radius-md);
    padding-right: 4px;
    padding-left: 4px;
    padding: 2px 4px;
    &::-webkit-input-placeholder{
        color: var(--color-zinc-400);
    }
    &::-moz-placeholder{
        color: var(--color-zinc-400);
    }
    &:-ms-input-placeholder{
        color: var(--color-zinc-400);
    }
    &::-ms-input-placeholder{
        color: var(--color-zinc-400);
    }
    &::placeholder{
        color: var(--color-zinc-400);
    }
}

form {
    color: var(--text);
    background: var(--secondary);
}

form button {
    background: var(--text);
    color: var(--primary);
}

#name {
    width: 300px;
    font-size: var(--text-xl)
}

#desc {
    font-size: var(--text-md)
}

.filters {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
}