@import "tailwindcss";
@import "./fonts.css";

/*comment*/

body {
    background: var(--primary);
}

h1, h2,
h3, h4,
h5, h6 {
    font-family: Monsterrat-bold, Verdana, Arial;
    font-weight: bold;
}

main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: var(--secondary);
    color: var(--text);
}

input[type="checkbox"] {
    cursor: pointer;
}